html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: default;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(bkg0.jpg);
  background-position: top left;
  background-size: cover;
  display: flex;
  cursor: default;
  flex-direction: column;
  overflow: hidden;
  background-color: black; 
}

.header {
  margin: 0;
  padding: 2vw;
  padding-right: 5vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 8vw;
  opacity: 0.8;
  background-color: black;
  font-size: calc(2vw);
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: default;
  overflow-y: auto;
}

.header>.cont {
  flex: 1;
  cursor: default;
}

.header>.container0 {
  font-size: 1vw;
  display: flex;
  flex: 1;
}

.header>.container1>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2vw;
  cursor: default;
}

.header>.container1>ul>li {
  transition: 0.5s;
}

.header>.container1>ul>li:hover {
  color: orange;
  font-size: calc(2vw + 10px);
  cursor: pointer;
  text-decoration: underline;
  transition: 0.5s;
}

.header>.container1 {
  flex: 2;
}

.wrapper {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    overflow: auto;
}

.wrapper0 {
    flex-direction: column;
    background-image: url(bkg2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    align-items: center;
}

.wrapper0>.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: calc(2vw + 10px);
    color: white;
    opacity: 1;
    font-family: serif;
}

.wrapper0>.text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.wrapper0>.text0 {
    font-size: calc(1.5vw + 15px);
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    width: 70%;
    align-self: center;
    padding: calc(1vw + 10px);
}

.wrapper0>.text1 {
    font-size: calc(1vw + 10px);
    padding: calc(1.5vw + 15px);
    font-family: cursive;
    background-color: tan;
    margin: calc(2vw + 10px);
    margin-top: calc(2.5vw + 15px);
}

.wrapper1 {
    padding: calc(1.5vw + 20px);
    background-image: url(bkg3.jpg);
    background-size: cover;
    background-position: left;
    justify-content: flex-start;
    flex-direction: column;
    color: coral;
    font-size: calc(1.5vw + 10px);
    opacity: 0.6;
}

.wrapper1>.heading {
    align-self: center;
    color: cadetblue;
    font-family: sans-serif;
    font-size: calc(1.5vw + 15px);
}

.wrapper1>div>.list {
    list-style-type: none;
    font-family: monospace;
    color: white;
}

.wrapper2 {
    background-image: url(bkg4.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: calc(1.5vw + 15px);
    padding: calc(2.5vw + 35px);
}

.wrapper2>form {
    display: flex;
    flex-direction: column;
}

.wrapper2>form>.text {
    margin-top: calc(1.5vw + 20px);
    font-family: cursive;
}

.wrapper2>form>input {
    font-size: calc(1vw + 10px);
    font-family: monospace;
    border: 2.5px solid white;
    border-radius: 15px;
    background-color: #101010;
    color: dodgerblue;
    outline: none;
    padding: calc(0.5vw + 5px);
    width: 45%;
    align-self: center;
}

.wrapper2>.heading {
    font-family: sans-serif;
    font-size: calc(1.5vw + 20px);
}

.wrapper2>form>.btn {
    margin-top: 2vw;
    padding: 2vw;
    width: 10vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}